{% extends 'myapp/basic_view.html' %}

<html lang="en">
<meta http-equiv="refresh" content="3">
 {% load staticfiles %}
    {%block content1%}

    <style>
      #map {
        position: absolute;
        overflow: hidden;
        top: 6%;
        height: 81%;
        width: 79%;
        left: 19%;
        margin-top: 3%
       }
    </style>
    <title>Dashboard</title>
    {%endblock%}

{%block mapcontent%}

    <script>
      function initMap() {
        // var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat:13.549349,lng:79.9995459}
        });


        var marker = new google.maps.Marker({
          position: {lat: 13.549349, lng:79.9995459},
          map: map,
          //icon:'{% static 'Transport/images/map-icons/car.png'%}',
          url:'/sensors'
        });


        var infowindow = new google.maps.InfoWindow()

        google.maps.event.addListener(marker, 'click', function() {
                 window.location.href = this.url;
        });
        google.maps.event.addListener(marker,'mouseover', (function(marker,content,infowindow){
        return function() {
           infowindow.setContent(content);
           infowindow.open(map,marker);
        };
    })(marker,content,infowindow));
                google.maps.event.addListener(marker,'mouseout', (function(marker,content,infowindow){
        return function() {

           infowindow.close();
        };
    })(marker,content,infowindow));

      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ15BbQwlN0XqfqqeNY6uWNkZt0KtbfP4&callback=initMap">
    </script>
    {%endblock%}
    {%block mapid%}
    <div id="map"> </div>
    {%endblock%}

</html>
